<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style_caja2.css">
    <link rel="shortcut icon" href="../assets/images/favicon_box.png" type="image/png">
    <title>Elementos de bloque</title>
</head>

<body>
    <a class="back" href="../index.html">
        &lt; Back</a>
    <header>Maquetación de Sitios Web</header>
    <section>HTML + CSS + JS</section>
    <footer>¡No dudes en contactarnos!</footer>
</body>

</html>