<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style_fondos.css">
    <link rel="shortcut icon" href="../assets/images/favicon_cat.png" type="image/png">
    <title>Kitty</title>
</head>

<body>
    <a class="back" href="../index.html">
        &lt; Back</a>
    <h1>LOOK AT THIS PHOTOGRAPH</h1>
    <h2>Every time I do, it makes me laugh</h2>
</body>
<footer>
    <audio src="../assets/audio/Photograph.ogg" controls autoplay></audio>
</footer>

</html>